<ion-view view-title="{{add.title}}">
  <form name="inputForm" ng-submit="add.submit()">
    <ion-content>
      <article class="list margin-vertical">
        <div class="item item-input" ng-if="add.info.companyName">
          <span class="input-label">公司名字</span>
          <input type="text" ng-model="add.info.companyName" placeholder="请输入申请者公司名字" maxlength="20" required>
        </div>
        <div class="item item-input">
          <span class="input-label">姓名</span>
          <input type="text" ng-model="add.info.realname" placeholder="请输入申请者姓名" maxlength="20" required>
        </div>
        <div class="item item-input">
          <span class="input-label">身份证号</span>
          <input type="text" ng-model="add.info.idNo" placeholder="请输入申请者身份证号" ng-pattern="/^\d{15}$)|(^\d{17}([0-9]|X)$/" maxlength="18" required>
        </div>
        <div class="item item-input">
          <span class="input-label">联系电话</span>
          <input type="text" ng-model="add.info.phone" placeholder="请输入11位手机号码" ng-pattern="/^[0-9]{11}$/" maxlength="11" required>
        </div>
        <div class="item item-input item-icon-right" ng-click="add.selectArea('province')">
          <span class="input-label">省份</span>
          <span class="item-note">{{add.info.area.province.name || '请选择'}}</span>
          <i class="icon ion-ios-arrow-right gray"></i>
        </div>
        <div class="item item-input item-icon-right" ng-click="add.selectArea('city')">
          <span class="input-label">城市</span>
          <span class="item-note">{{add.info.area.city.name || '请选择'}}</span>
          <i class="icon ion-ios-arrow-right gray"></i>
        </div>
        <div class="item item-input item-icon-right" ng-click="add.selectArea('district')">
          <span class="input-label">区/县</span>
          <span class="item-note">{{add.info.area.district.name || '请选择'}}</span>
          <i class="icon ion-ios-arrow-right gray"></i>
        </div>
        <div class="item item-input item-icon-right" ng-click="add.selectArea('street')">
          <span class="input-label">街道</span>
          <span class="item-note">{{add.info.area.street.name || '请选择'}}</span>
          <i class="icon ion-ios-arrow-right gray"></i>
        </div>
        <div class="item item-input item-icon-right">
          <span class="input-label">小区名</span>
          <input type="text" ng-model="add.info.village" placeholder="请输入小区名" minlength="2" maxlength="20" style="padding-left: 12px" ng-change="add.villageChanged()" required>
          <i class="icon ion-map balanced" ng-click="add.showMap()" ng-if="add.info.village"></i>
        </div>
        <div class="item item-input">
          <span class="input-label">详细地址</span>
          <input type="text" ng-model="add.info.address" placeholder="请输入详细地址" maxlength="30" required>
        </div>
        <div class="item item-input">
          <span class="input-label">小区户数</span>
          <input type="tel" ng-model="add.info.households" placeholder="请输入小区户数" maxlength="5" required>
        </div>
      </article>
    </ion-content>

    <section class="bottom">
      <div class="padding">
        <button type="submit" class="button button-block button-balanced" ng-disabled="inputForm.$invalid || !add.info.point || !add.info.area.district.name">提交审核</button>
      </div>
    </section>
  </form>
</ion-view>