<ion-view view-title="奖励收款银行信息">
  <form name="applyForm" ng-submit="apply.submit()">
    <ion-content class="has-bottom">
      <article class="list padding-vertical">
        <a class="item item-icon-right" ui-sref="bank">
          收款银行
          <span class="item-note">{{apply.info.bank.name || '请选择'}}</span>
          <i class="icon ion-ios-arrow-right gray"></i>
        </a>
        <div class="item item-input">
          <span class="input-label">收款银行支行</span>
          <input type="text" ng-model="apply.info.bankBranch" class="text-right" placeholder="请填写" maxlength="20" required>
        </div>
        <div class="item item-input">
          <span class="input-label">收款银行账户名</span>
          <input type="text" ng-model="apply.info.accountName" class="text-right" placeholder="请填写" maxlength="20" required>
        </div>
        <div class="item item-input input-validate">
          <span class="input-label">收款银行账号</span>
          <input type="tel" name="card" ng-model="apply.info.bankAccount" class="text-right" placeholder="请填写" ng-pattern="pattern.card" maxlength="19" required>
          <i class="icon ion-ios-close assertive" ng-if="applyForm.card.$dirty&&applyForm.card.$invalid"></i>
        </div>
        <div class="padding assertive">
          <small>提醒：请准确填写收款银行信息，否则将会影响奖励款项正常到帐</small>
        </div>
      </article>
    </ion-content>

    <section class="bottom">
      <div class="padding">
        <button type="submit" class="button button-block button-balanced" ng-disabled="applyForm.$invalid">提交申请</button>
      </div>
    </section>

</ion-view>