<ion-view cache-view="false" view-title="眼镜蛇" id="login_view">
  <ion-content>
    <div class="logo-wrapper text-center row row-center">
      <div class="col col-center">
        <img src="assets/images/logo.png" width="100" alt="">
      </div>
    </div>
    
    <section class="form">
      <form name="loginForm" ng-submit="login.submit()">
        <input type="tel" ng-model="login.user.username" ng-pattern="pattern.phone" maxlength="11" placeholder="用户名" required>
        <input type="password" ng-model="login.user.password" ng-pattern="pattern.password" maxlength="8" placeholder="密码" required>
        <button type="submit" class="button button-balanced button-block" ng-disabled="loginForm.$invalid">登录</button>
      </form>
    </section>
  </ion-content>
</ion-view>