<ion-view view-title="眼镜蛇" id="main_view">
  <ion-nav-buttons side="left">
    <a class="button" ng-click="home.toggleMenu()">
      <i class="icon ion-android-menu"></i>
    </a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button" ui-sref="announcement">
      <i class="icon ion-ios-bell"></i>
    </a>
  </ion-nav-buttons>
  <ion-content>
    <section ng-if="home.rights.sale">
      <div class="card">
        <a class="item item-avatar"  ui-sref="list:apply:rights">
          <img src="assets/images/seal.png">
          <h2>申请开店权<span ng-if="user.roleId!==7">/经销权</span></h2>
          <p>提交申请，立即付款，审核通过后立即获得开店权</p>
        </a>
      </div>

      <div class="card">
        <a class="item item-avatar"  ui-sref="list:apply:account">
          <img src="assets/images/cert-01.png">
          <h2>申请开户</h2>
          <p>获得开店权后即可选择具体小区申请开户</p>
        </a>
      </div>

      <div class="card">
        <a class="item item-avatar"  ui-sref="list:apply:grounding">
          <img src="assets/images/store.png">
          <h2>申请开店</h2>
          <p>小区地址审核通过后，即可申请店铺上架开始赚钱</p>
        </a>
      </div>
    </section>
    
    <!-- 经销商 -->
    <section ng-if="home.rights.dealer">
      <div class="card">
        <a class="item item-avatar"  ui-sref="reward:list({type: 0})">
          <img src="assets/images/reward-store.png">
          <h2>开店奖励</h2>
          <p>开店成功后即可申请开店奖励</p>
        </a>
      </div>

      <div class="card">
        <a class="item item-avatar"  ui-sref="reward:list({type: 1})">
          <img src="assets/images/reward-promot.png">
          <h2>推广奖励</h2>
          <p>开店成功后对应小店推广成功后即可申请推广奖励</p>
        </a>
      </div>
    </section>

    <!-- 主管 -->
    <section ng-if="home.rights.manager">
      <div class="card">
        <a class="item item-avatar"  ui-sref="list:audit:rights">
          <img src="assets/images/cert-02.png">
          <h2>信息审核</h2>
          <p>审批部分非标准金额信息</p>
        </a>
      </div>
    </section>

    <section class="row row-no-padding text-center" ng-if="home.rights.sale">
      <div class="card col">
        <a class="item padding-vertical" ui-sref="list:client">
          <h2>客户信息报备</h2>
          <p>私密及时的客户信息记录本</p>
          <img src="assets/images/client.png" width="50" class="padding-top" alt="">
        </a>
      </div>
      <div class="card col" >
        <a class="item padding-vertical" ui-sref="list:invitation">
          <h2>邀约记录</h2>
          <p>邀约用户洽谈的贴心备忘录</p>
          <img src="assets/images/invite.png" width="50" class="padding-top" alt="">
        </a>
      </div>
    </section>
    
    <!-- 财务 -->
    <section ng-if="home.rights.finance">
      <div class="card">
        <a class="item item-avatar" ui-sref="list:audit:rights">
          <img src="assets/images/seal.png">
          <h2>开店权/经销权审核</h2>
          <p>审核通过后立即获得开店权</p>
        </a>
      </div>
      <div class="card">
        <a class="item item-avatar"  ui-sref="reward:list({type: 0})">
          <img src="assets/images/reward-store.png">
          <h2>开店奖励审核</h2>
          <p>对开店成功的经销商给予开店奖励</p>
        </a>
      </div>
      <div class="card">
        <a class="item item-avatar"  ui-sref="reward:list({type: 1})">
          <img src="assets/images/reward-promot.png">
          <h2>推广奖励审核</h2>
          <p>对推广成功的经销商给予推广奖励</p>
        </a>
      </div>
    </section>

    <!-- 运营 -->
    <section class="list margin-vertical" ng-if="home.rights.operate">
      <div class="card">
        <a class="item item-avatar" ui-sref="list:audit:account">
          <img src="assets/images/cert-01.png">
          <h2>店铺地址审核</h2>
          <p>审核通过后立即获得开店权</p>
        </a>
      </div>
      <div class="card">
        <a class="item item-avatar" ui-sref="list:audit:grounding">
          <img src="assets/images/store.png">
          <h2>店铺图片审核</h2>
          <p>审核通过后立即开店成功</p>
        </a>
      </div>
      <div class="card">
        <a class="item item-avatar"  ui-sref="reward:list({type: 0})">
          <img src="assets/images/reward-store.png">
          <h2>开店奖励审核</h2>
          <p>对开店成功的经销商给予开店奖励</p>
        </a>
      </div>

      <div class="card">
        <a class="item item-avatar"  ui-sref="reward:list({type: 1})">
          <img src="assets/images/reward-promot.png">
          <h2>推广奖励审核</h2>
          <p>对推广成功的经销商给予推广奖励</p>
        </a>
      </div>
    </section>


  </ion-content>
</ion-view>
