<ion-view view-title="{{add.title}}">
  <form name="payForm" ng-submit="add.next()">
    <ion-content class="has-bottom">
      <article class="list margin-vertical">
        <!-- <div class="item item-icon-right" ng-click="add.showSelfPayAction()">
          是否本人付款
          <span class="item-note">{{add.info.selfPay.text}}</span>
          <i class="icon ion-ios-arrow-down gray"></i>
        </div> -->
        <div class="item item-icon-right" ng-click="add.showPayTypeAction()">
          付款类型
          <span class="item-note">{{add.info.payType.text}}</span>
          <i class="icon ion-ios-arrow-down gray"></i>
        </div>
        <div class="item item-icon-right" ng-click="add.showPayModeAction()">
          付款方式
          <span class="item-note">{{add.info.payMode.text}}</span>
          <i class="icon ion-ios-arrow-down gray"></i>
        </div>
        
        <!-- 银行卡转账 -->
        <section ng-if="add.info.payMode.id==0">
          <a class="item item-icon-right" ui-sref="bank">
            付款银行
            <span class="item-note">{{add.info.bank.name || '请选择'}}</span>
            <i class="icon ion-ios-arrow-right gray"></i>
          </a>
          <div class="item item-input">
            <span class="input-label">付款支行</span>
            <input type="text" ng-model="add.info.bankBranch" class="text-right" placeholder="请填写" maxlength="20" required>
          </div>
          <div class="item item-input input-validate">
            <span class="input-label">银行帐号</span>
            <input type="tel" name="card" ng-model="add.info.bankAccount" class="text-right" placeholder="请填写" ng-pattern="pattern.card" maxlength="19" required>
            <i class="icon ion-ios-close assertive" ng-if="payForm.card.$dirty&&payForm.card.$invalid"></i>
          </div>
        </section>

        <!-- 非本人支付 -->
        <div class="item item-input">
          <span class="input-label">付款人姓名</span>
          <input type="text" ng-model="add.info.payerName" class="text-right" placeholder="请填写" maxlength="20" required>
        </div>
        <!-- 支付宝支付 -->
        <div class="item item-input" ng-if="add.info.payMode.id==1">
          <span class="input-label">付款支付宝帐号</span>
          <input type="text" ng-model="add.info.alipayAccount" class="text-right" placeholder="请填写" maxlength="20" required>
        </div>
        
        <div class="item item-input">
          <span class="input-label">合同金额(元)</span>
          <input type="tel" ng-model="add.info.contractAmount" class="text-right" placeholder="请填写" ng-readonly="add.info.applyType.id==1" required>
        </div>
        <div class="item item-input" ng-if="add.info.applyType.id!=1">
          <span class="input-label">已付金额(元)</span>
          <input type="tel" ng-model="add.info.paidAmount" class="text-right" placeholder="请填写" ng-readonly="add.info.applyType.id==1" required>
        </div>
        <div class="item item-input">
          <span class="input-label">付款金额(元)</span>
          <input type="tel" ng-model="add.info.payAmount" class="text-right" placeholder="请填写" ng-readonly="add.info.applyType.id==1" required>
        </div>
      </article>
    </ion-content>

    <section class="bottom">
      <div class="padding">
        <button type="submit" class="button button-block button-balanced" ng-disabled="payForm.$invalid">下一步</button>
      </div>
    </section>
  </form>
</ion-view>