<ion-view view-title="申请开店权/经销权">
  
  <ion-content>
    <div class="list margin-vertical">
      <div class="item item-icon-right" ng-click="rightsAdd.showApplyTypeAction()">
        申请类型
        <span class="item-note">请选择</span>
        <i class="icon ion-ios-arrow-down gray"></i>
      </div>
      <div class="item item-icon-right" ng-click="rightsAdd.showApplicantTypeAction()">
        申请人类别
        <span class="item-note">请选择</span>
        <i class="icon ion-ios-arrow-down gray"></i>
      </div>
    </div>

    <div class="list margin-vertical">
      <div class="item item-icon-right">
        省份
        <span class="item-note">请选择</span>
        <i class="icon ion-ios-arrow-right gray"></i>
      </div>
      <div class="item item-icon-right">
        城市
        <span class="item-note">请选择</span>
        <i class="icon ion-ios-arrow-right gray"></i>
      </div>
      <div class="item item-icon-right">
        区/县
        <span class="item-note">请选择</span>
        <i class="icon ion-ios-arrow-right gray"></i>
      </div>
    </div>

    <div class="list margin-vertical">
      <div class="item item-icon-right">
        代理类型
        <span class="item-note">请选择</span>
        <i class="icon ion-ios-arrow-down gray"></i>
      </div>
      <div class="item item-input">
        <span class="input-label">代理时间(年)</span>
        <input type="number" class="text-right" placeholder="请填写" required>
      </div>
      <div class="item item-input">
        <span class="input-label">经销权个数</span>
        <input type="number" class="text-right" placeholder="请填写" required>
      </div>
    </div>
  </ion-content>

  <section class="bottom">
    <div class="padding">
      <button class="button button-block button-balanced" ng-click="rightsAdd.next()">下一步</button>
    </div>
  </section>
  
</ion-view>