<ion-view view-title="申请开店权/经销权" class="rights-list list-view">

  <ion-nav-buttons side="right">
    <a class="button" ui-sref="rights:add">
      添加
    </a>
  </ion-nav-buttons>

  <section class="tabs-top tabs-background-light crm-tabs">
    <div class="tab-nav tabs">
      <a class="tab-item" ng-class="{'tab-item-active': list.status == 0}" ng-click="list.status=0">
        <span class="tab-title">申请中</span>
      </a>
      <a class="tab-item" ng-class="{'tab-item-active': list.status == 1}" ng-click="list.status=1">
        <span class="tab-title">申请成功</span>
      </a>
      <a class="tab-item" ng-class="{'tab-item-active': list.status == -2}" ng-click="list.status=-2">
        <span class="tab-title">申请失败</span>
      </a>
    </div>
  </section>

  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="list.doRefresh()">
    </ion-refresher>

    <article class="list margin-vertical" ng-repeat="(date, items) in list.map">
      <header class="list-header">{{date}}</header>
      <a class="item item-icon-left item-icon-right" ng-repeat="item in items" ui-sref="rights:result({id: item.id})">
        <i class="icon"><img ng-src="assets/images/iconfont-{{item.applyType==1?'persons':'shop'}}.png" width="25" alt=""></i>
        <div class="row row-no-padding">
          <div class="col">申请人: {{item.name}}({{item.phone}})</div>
        </div>
        <div class="row row-no-padding gray small">
          <div class="col">合作类型: {{item.applyType | applyRole}}</div>
          <div class="col">付款类型: {{item.paymentType | payment}}</div>
        </div>
        <i class="icon ion-ios-arrow-right gray"></i>
      </a>
    </article>

    <ion-infinite-scroll
      ng-if="list.hasMoreData"
      on-infinite="list.loadMore()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>