#map_modal{
  .scroll{
    height: 100%;
  }
  #allmap{
    height: 100%;
    overflow: hidden;
  }
}

// fix offsetParent null
html, body{
  height: 100%;
}
.modal-backdrop.active {
  position: relative; 
}