<ion-view view-title="{{invitation.title}}">
  <form name="invitationForm" ng-submit="invitation.save()">
    <ion-content class="has-bottom">
      <article class="list margin-vertical">
        <div class="item item-input">
          <span class="input-label">姓名</span>
          <input type="text" ng-model="invitation.info.name" placeholder="客户姓名" maxlength="20" required>
        </div>
        <div class="item item-input">
          <span class="input-label">联系电话</span>
          <input type="text" ng-model="invitation.info.phone" placeholder="11位手机号码" maxlength="11" required>
        </div>
        <div class="item item-input">
          <span class="input-label">预计到访时间</span>
          <ionic-datepicker input-obj="invitation.datepickerObject">
            <input type="text" ng-model="invitation.info.visitDate" placeholder="2015-12-25" disabled required>
          </ionic-datepicker>
        </div>
        <div class="item item-input item-icon-right" ng-click="invitation.showApplyRoleAction()">
          <span class="input-label">申请角色</span>
          <span class="item-note">{{invitation.info.applyRole.id | applyRole}}</span>
          <i class="icon ion-ios-arrow-down gray"></i>
        </div>
        <div class="item item-input item-icon-right" ng-click="invitation.showStatusAction()">
          <span class="input-label">用户状态</span>
          <span class="item-note">{{invitation.info.status.id | inviteStatus}}</span>
          <i class="icon ion-ios-arrow-down gray"></i>
        </div>
        <div class="item item-input">
          <span class="input-label">备注</span>
          <textarea rows="1" ng-model="invitation.info.remark" maxlength="140" placeholder="添加备注"></textarea>
        </div>
      </article>
    </ion-content>

    <section class="bottom">
      <div class="padding">
        <button type="submit" class="button button-block button-balanced" ng-disabled="invitationForm.$invalid">保存</button>
      </div>
    </section>
  </form>
</ion-view>