<ion-view view-title="申请开户">

  <section class="tabs-top tabs-background-light crm-tabs">
    <div class="tab-nav tabs">
      <a class="tab-item" ng-class="{'tab-item-active': list.status == -1}" ng-click="list.status=-1" ng-hide="list.tabsType=='rightsApply'">
        <span class="tab-title">未申请</span>
      </a>
      <a class="tab-item" ng-class="{'tab-item-active': list.status == 0}" ng-click="list.status=0">
        <span class="tab-title">申请中</span>
      </a>
      <a class="tab-item" ng-class="{'tab-item-active': list.status == 2}" ng-click="list.status=2" ng-hide="list.tabsType=='rightsApply'">
        <span class="tab-title">申请未通过</span>
      </a>
      <a class="tab-item" ng-class="{'tab-item-active': list.status == 1}" ng-click="list.status=1">
        <span class="tab-title">申请成功</span>
      </a>
    </div>
  </section>

  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="list.doRefresh()">
    </ion-refresher>

    <article class="list margin-vertical" ng-repeat="(date, items) in list.map">
      <header class="list-header">{{date}}</header>
      <a class="item item-icon-right" ng-repeat="item in items" ng-click="list.select(item.id)">
        <div class="row row-no-padding">
          <div class="col">
            <span class="gray">姓名: </span>{{item.name}}
          </div>
          <div class="col">
            <span class="gray">电话: </span>{{item.phone}}
          </div>
        </div>
        <i class="icon ion-ios-arrow-right gray"></i>
      </a>
    </article>

    <ion-infinite-scroll
      ng-if="list.hasMoreData"
      on-infinite="list.loadMore()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>